<div class="grid">
    <div class="col-12">
        <div class="card">
            <h2>Overview of pods</h2>
            <div class="p-formgrid grid">
                <div class="field col">
                    <p-dropdown [options]="clusterListLeft" [(ngModel)]="selectedClusterLeft" placeholder="Cluster to be displayed on the left" [style]="{'width': '100%'}"></p-dropdown>
                </div>
                <div class="field col">
                    <p-dropdown [options]="clusterListRight" [(ngModel)]="selectedClusterRight" placeholder="Cluster to be displayed on the right" [style]="{'width': '100%'}"></p-dropdown>    
                </div>
            </div>
            <p-dropdown [options]="namespaceList" [(ngModel)]="selectedNamespace" placeholder="Namespace" [style]="{'width': '50%'}"></p-dropdown>
        </div>
    </div>
    <div class="col-12 md:col-6 gap-2">
        <div class="card">
            <h5>{{selectedClusterLeft}}</h5>
            <p-table [value]="podsClusterLeft">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Pod name</th>
                        <th>Status</th>
                        <th>Age</th>
                        <th style="width: 4rem"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-pod let-rowIndex="rowIndex">
                    <tr>
                        <td style="min-width: 200px;">
                            {{pod.podName}}
                        </td>
                        <td style="min-width: 200px;">
                            <span [class]="'pod-badge status-' + pod.status">{{pod.status !== 'Pending' ? pod.status : pod.reason}}</span>
                        </td>
                        <td style="min-width: 100px;">
                            {{pod.age}}
                        </td>
                        <td>
                            <button pButton type="button" icon="pi pi-trash" class="p-button-rounded p-button-outlined" (click)="deletePod('cluster1', pod.podName)"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        
    </div>
    <div class="col-12 md:col-6 gap-2">
        <div class="card">
            <h5>{{selectedClusterRight}}</h5>
            <p-table [value]="podsClusterRight">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Pod name</th>
                        <th>Status</th>
                        <th>Age</th>
                        <th style="width: 4rem"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-pod let-rowIndex="rowIndex">
                    <tr>
                        <td style="min-width: 200px;">
                            {{pod.podName}}
                        </td>
                        <td style="min-width: 200px;">
                            <span [class]="'pod-badge status-' + pod.status">{{pod.status !== 'Pending' ? pod.status : pod.reason}}</span>
                        </td>
                        <td style="min-width: 100px;">
                            {{pod.age}}
                        </td>
                        <td>
                            <button pButton type="button" icon="pi pi-trash" class="p-button-rounded p-button-outlined" (click)="deletePod('cluster-sev-snp', pod.podName)"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <p-toast key="tst"></p-toast>
</div>
