<div class="layout-footer">
    <a href="https://natwork-project.eu/" target="_blank">
        <img src="assets/layout/images/natwork.png" alt="Logo" height="35" class="mr-2"/>
    </a>
    <!-- <img src="assets/layout/images/ZHAW_Logo.svg" alt="Logo" height="20" class="mr-2"/>
    <span class="font-medium ml-2">cubeMig</span> -->

    <!-- add apache license -->
    <div class="ml-auto">
        <a href="https://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License 2.0</a>
    </div>
